body {

    background : #FFF;
    font-size : 62.5%;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

iframe{
	border :0;
	html{
		border:0;
		body{
			border:0;
		}
	}
}
.rounded-corners (@radius: 5px) {

    border-radius: @radius;
    -webkit-border-radius: @radius;
    -moz-border-radius: @radius;
}

#eg-chat-global-wrap {

.egce-modal-overlay {
	
	div {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
	}

	
	z-index : 1000000;
    top : 0;
    left : 0;
    position: absolute;
    width: 100%;
    height: 100%;
    display: table;

	.egce-modal-overlay-background {
    background : #000;
    position : absolute;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    text-align : center;
    opacity : 0.5;
	}
	
	.egce-modal-overlay-middle {
    vertical-align: middle;
    text-align: center;	
    display: table-cell;
   	 	.egce-modal-wrap {
    	width : 310px;
    	z-index : 10000000;
    	background : #f7f7f7;
    	padding : 15px;
    	border-radius : 5px;
    	-moz-border-radius : 5px;
    	-webkit-border-radius : 5px;
    	margin-bottom: 5px;
    	margin-left: auto;
    	margin-right: auto;
    	position: relative;
    	*top: -50%;
			
				.egce-modal-content {


						.component {

						    position : relative;
						}
							.egce-box-wrap {
									
    							border:1px solid #ccc;-webkit-border-radius:5px;-moz-border-radius:5px;border-radius:5px;
										
										.egce-box-header {
											
														padding: 11px;
    													background: #ff730c;
    													background: -webkit-linear-gradient(#39bfc2, #39bfc2);
  					    								background: -moz-linear-gradient(#39bfc2, #39bfc2);
    													background: -o-linear-gradient(#39bfc2, #39bfc2);
    													background: -ms-linear-gradient(#39bfc2, #39bfc2);
    													background: linear-gradient(#39bfc2, #39bfc2);
    														.egce-box-heading  {
  																color:#ffffff;
  																font-size:1.6em;
  																font-weight:bold;
  																float:left;
																}
															.egce-clearfix {
   								 								clear: both;
  								  								display: block;
																}													
														
											}      //.egce-box-header
											.selfservice-box-content {
														padding : 10px 0px;
   														text-align: left;
														.egce-p20-right { 
 															 padding-right : 20px; 
														}

														.egce-p20-left { 
								 							 padding-left : 20px; 
														}

														.egce-p10-left{ 		
 															 padding-left:10px; 
														}
														form {
  								  							margin: 0;
														}
														.egce-details-form-group {

   															 position: relative;

   								 							.egce-details-form-group-label {
    								 							display: block;
    															margin-top: 10px;
    															padding-bottom: 5px;
    															font-size: 1.1em;
    															line-height: 1.3em;
    															font-weight: bold;
    															color: #666666;
    															text-transform: uppercase;

    																.egce-color-highlighted {
   									 									 color: #ff730c;
																}
																	.egce-textarea {
																		    box-shadow: inset 0px 3px 5px rgba(0,0,0,0.05);
																		    padding-left: 5px;
																			font-size: 130%;
																		}

  															}
															.errortab {
																
																color : #39BFC2;
																right: 2px;
																top:3px;
																font-size: 8pt;
																position: absolute;
																display : none;
																	
															}
															.egce-input-text {
																border :  1px solid #ccc;
    															border-width : 1px;
    															background : #fff;
   															    outline : none;
    															height : 3.5em;
   																position: relative;
																		input {
																			 font-family : "Helvetica Neue", arial, "Open Sans", sans-serif;
        																	 border : 0;
        																	 background : none;
        																	 height : 1.8em;	
																			 width: 100%;
																			 padding: 6px;
																			 color: #444444;
																			 font-size: 130%;
																		}
																		

															}
															 div.egce-input-text {
															    box-shadow: 0 3px 5px rgba(0,0,0,0.05) inset;
															    padding-left : 5px;
															 }
															 
   												    	}   // 	.egce-details-form-group	
														
														.egce-rounded5 {
   															 border-radius: 5px;
    														-webkit-border-radius: 5px;
   								 							-moz-border-radius: 5px;
														}
												.egce-button {

													border-radius: 0px;
    												-webkit-border-radius: 0px;
    												-moz-border-radius: 0px;
    												font-size: 1.3em;
   												    font-weight: bold;
   													 padding: 11px 20px;
    												margin-left: 0px;
    												-webkit-touch-callout: none;
    												-webkit-user-select: none;
    												-khtml-user-select: none;
    												-moz-user-select: none;
    												-ms-user-select: none;
   	 												user-select: none;
    												cursor: pointer;
   													 border: none;

													}
												.egce-primary.egce-button {
													    background: #ffffff;
													    background: #ff730c;
													    background: -webkit-linear-gradient(#39BFC2, #39BFC2);
													    background: -moz-linear-gradient(#39BFC2, #39BFC2);
													    background: -o-linear-gradient(#39BFC2, #39BFC2);
													    background: -ms-linear-gradient(#39BFC2, #39BFC2);
													    background: linear-gradient(#39BFC2, #39BFC2);
													   
													    color: #ffffff;
													}
														
																		

											} //selfservice-box-content
								}   //egce-box-wrap

							.egce-modal-close-button {
								    position : absolute;
								    right : -15px;
								    cursor : pointer;
								    top : -15px;
								    padding : 5px 8px;
								    background : #444;
								    border : 2px solid #fff;
								    color : #fff;
								    font-size : 14px;
								    -webkit-border-radius : 25px;
								    -moz-border-radius : 25px;
								    border-radius : 25px;
								    width : 35px;
								}
					}		    //egce-modal-content				
     		}   //egce-modal-wrap

		} //overlay-middle
}   //overlay

}  //chat-global-wrap 


#eg-chat-header {
    
	float :left;
	width : 100%;

    .wrap {
        background : #39bfc2;
        border-top : 1px solid #eee;
        height: 84px;
	.gradientBackground(#39BFC2, #06ADCF);
    }

    .heading {
        .chatbubble {
			top: 15px;
			left : 21px;
			position: absolute;
		}
        color : #eee;
        font-size : 28px;
        font-weight : bold;
        line-height: 1;
		font-family: Arial;
	}	
		
	&.mobileDevice{			
		.heading{
			.chatbubble{
				top: 8px;
				right: 54px;
				left: 17px;
			}
		}
		.wrap{
			height : 70px;
		
		}
		.closechat{
			top: 18px;
			right: 19px;
		}
		
    }
    
	.closechat {

		display : block;
		height : 16px;
		width : 16px;
		background : url(chat/img/white_cross.png);
		position : relative;
		top: 28px;
		float:right;
		right: 29px;
	}
    .buttons {
        display : none;
        padding : 15px 10px 10px 10px;
         a {
	            display : block;
	            float : right;
	            font-size : 16px;
				text-decoration : none;
	            margin-right : 12px;
	            margin-left : 5px;
	      
				&.end-session {
	               color : #CA5353;
	            }
		            }
        	}
           }
           
img { max-width: 100%; max-height: 100%; }
       
#eg-chat-content {

	width : 100%;
    margin-top : 0px;
    float : left;
}

#eg-chat-sidebar {

    float : right;
    height : 100px;
    margin-top : -10px;
	margin-left : -10px;
	border-style :solid;
	border-width: 0px 0px 0px 1px;
	border-color: #CCC;
	
	display: none;
    
	.sideFrameDiv{
		height : 80px;
		.rounded-corners(7px);
		border-radius: 0 7px 7px 0;
		margin: 10px 0 10px 0;
		border-style :solid;
		border-width: 1px 1px 1px 0px;
		border-color: #CCC;
		box-shadow: 2px 2px 5px #888;
	}
}

.submit-wrap {

	.rounded-corners(7px);
	float : right;
	margin-right:20px;
	bottom: 10px;
	margin-top: 2px;
}

.kiwiSubmit{

	padding : 10px 25px 10px 25px;
	border-top-color: #39BFC2;
	border-top-width: 1px;
	.gradientBackground(#02B7CC, #02B7CC);
	
	&:hover {
		
		border-top-color: transparent;
		.gradientBackground(#39BFC2, #39BFC2);
	}
	
	&:active {
		
		.gradientBackground(#39BFC2, #39BFC2);
		border-top-color: #39BFC2;
	}
}

.gradientBackground(@start: #FFA801, @end: #FF8109) {
	background: mix(@start, @end, 50%);
	filter: ~"progid:DXImageTransform.Microsoft.gradient(startColorStr="@start~", EndColorStr="@end~")";
	background: -webkit-gradient(linear, left top, left bottom, from(@start), to(@end));
	background: -webkit-linear-gradient(@start, @end);
	background: -moz-linear-gradient(top, @start, @end);
	background: -ms-linear-gradient(@start, @end);
	background: -o-linear-gradient(@start, @end);
	background: linear-gradient(@start, @end);
	zoom: 1;
	text-transform: uppercase;
}

.submit-section {	
	position : absolute;
	bottom : 0px;
	left:10px;
	height: 60px;	

	border-radius: 0px 0px 0px 0px;
	.footer{
		color:#1c1c1c;
		display:inline;
		float:left;
		left:12px;
		top: 25px;
		position :relative;
		font-size: 9pt;
		.powered_by{
			color: #b2b2b2;
		}
	}
}
	
.eg-chat-callback {
 border : 1px solid #ccc;
    border-bottom: hidden;
    clear : both;
    background: white;
    
     label{
	font-size : 13px;
	color: #616161;
	font-weight: bold;
	margin-left: 2px;
	}
	
        .rounded-corners(7px);
	border-radius: 7px 7px 0 0;
	
	.callback-message{
		color: #616161;
		font-size : 12px;
		font-family: ,Arial;
		font-weight: bold;
		margin-top: 31px;
		margin-bottom:22px;
		margin-left:15px;
		margin-right:23px;
	}
	
	.header{ 	  
	       border-bottom:1px solid #CCCCCC; 
	}
	
	
	.callback-options{
		&:hover{
		   background: #39bfc2;
		   cursor:pointer;     
		  }  
	  margin-top: 0px;  
	  border-bottom:1px solid #CCCCCC;
	
	}
	
	.callback-option-image{
	  padding-top :23px;
	  padding-left:15px;
	}

	.callback-option-message{
	    color: #000000;
	    font-size : 16px;
	    font-family: ,Arial;
	    font-weight: Regular;
	    padding-left : 11px;
	    padding-top:24px;
	    padding-bottom : 27px;
	}
	
	.form-fields{
		background-color :white;
		
		height : 150px;
        overflow-y : hidden;
        position : relative;
		
		clear: both;
		.viewport {height: 150px; overflow: hidden; position: relative; }
		.overview { list-style: none; position: absolute; left: 0; top: 0;  width : 100%; }
		.thumb .end,
		.thumb { background-color: #003D5D; }
		.scrollbar {
			/*background: transparent url(chat/img/bg-scrollbar-track-y.png)
			no-repeat 0 0; background-position: 0 0;*/
			position: relative;  float: right; width: 15px; 
		}
		.track {/* background: transparent url(chat/img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
			height: 100%; width:13px; position: relative; padding: 0 1px; }
		.thumb { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
			height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
		.thumb .end { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
			overflow: hidden; height: 5px; width: 13px; }
		.disable{ display: none; }	
	}
	
	.submit-section{
	  
	      .rounded-corners(7px);
	        border-radius: 0 0 5px 5px;
	}
}


	
/** style for both LoginView and SurveyView **/
.eg-chat-login, .eg-chat-survey, .eg-chat-thanks,  .eg-chat-deflection{
	
    border-bottom: hidden;
    clear : both;
    background: white;
    label
    {
    	font-size : 13px;
    	color: #555555;
    	margin-left: 2px;
    	font-fdamily:sans-serif;
    }

    .rounded-corners(7px);
	border-radius: 7px 7px 0 0;


    .header {
        margin-left : 20px;
        margin-right : 15px;
        font-size : 13px;
        
    }

    .thanks {
        margin-top : 55px;
        background-image : url(chat/img/thanks.png);
        background-repeat: no-repeat;
        background-position: center top;
        height : 65px;
    }
	.thanksBox{
		background-color :white;
		
		height : 150px;
        overflow-y : hidden;
        position : relative;
		
		clear: both;
		.viewport {height: 150px; overflow: hidden; position: relative; }
		.overview { list-style: none; position: absolute; left: 0; top: 0;  width : 100%; }
		.thumb .end,
		.thumb { background-color: #003D5D; }
		.scrollbar {
			/*background: transparent url(chat/img/bg-scrollbar-track-y.png)
			no-repeat 0 0; background-position: 0 0;*/
			position: relative;  float: right; width: 15px; 
		}
		.track {/* background: transparent url(chat/img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
			height: 100%; width:13px; position: relative; padding: 0 1px; }
		.thumb { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
			height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
		.thumb .end { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
			overflow: hidden; height: 5px; width: 13px; }
		.disable{ display: none; }
	}
    .thanks-text {
	text-align: center; 
	border-top: 1px #BBBBBB;
	height: 55px;

	span {

		display: inline-block; 
		position: relative; 
		top: -8px; 
		background-color: white; 
		padding: 0px 10px;
		font-family: Open Sans;
		font-size : 13px;
		font-weight: bold;
	}
    }
    
    .thanks-txt {
        text-align: center;
        font-size : 13px;
        color : #666;
        font-weight : bold;
        height : 40px;
        width : 200px;
        background-color: #ffffff;
        margin-left : 100px;
    }

			
	.input-wrap-sub, .input-wrap-sub-surveytextarea{
		background-color: #f8f8f8;
		display : block;
		padding : 10px;
		.rounded-corners(3px);
		border-style: solid;
		border-color: #cccccc #cccccc #cccccc #cccccc;
		border-width: 1px;

	}
	
	.input-wrap-sub-survey{
		margin-bottom:12px;
		border-bottom:1px solid #ccc;
		padding-bottom:5px;
	}
	
	.input-wrap-sub-surveylast{
		border:none;
		margin-bottom:12px;
	}
	
    .form-fields {
        
        
        padding-top : 28px;
        padding-bottom : 18px;
        padding-left : 24px;
        padding-right : 28px;
        font-size : 12px;
		color: #888;
		line-height: 1.7;
		
	    border-radius: 5px 5px 0px 0px;
	    -webkit-border-radius: 5px 5px 0px 0px;
    	-moz-border-radius: 5px 5px 0px 0px;
				
		height : 199px;
        overflow-y : hidden;
		
		clear: both;
		.viewport {height: 199px; overflow: hidden; position: relative; }
		.overview { list-style: none; position: absolute; left: 0; top: 0;  width : 95%; }
		.thumb .end,
		.thumb { background-color: #003D5D; }
		.scrollbar {
			/*background: transparent url(chat/img/bg-scrollbar-track-y.png)
			no-repeat 0 0; background-position: 0 0;*/
			position: relative;  float: right; width: 15px; 
			margin-right : -15px; padding-left:15px;
		}
		.track {/* background: transparent url(chat/img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
			height: 100%; width:13px; position: relative; padding: 0 1px; }
		.thumb { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
			height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
		.thumb .end { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
			overflow: hidden; height: 5px; width: 13px; }
		.disable{ display: none; }
		
				
		.input-wrap {
			position : relative;
			margin-bottom: 18px;
			
            .shadow {

                border-top : 2px solid #eee; 
            }

            .checkmark {

                display : none;
                height : 18px;
                width : 18px;
                background : url(chat/img/accept.png);
		background-repeat: no-repeat;
                position : absolute;
                right: 14px;
                top : 35px;
            }
            
            .errormark {

                display : none;
                height : 18px;
                width : 18px;
                background : url(chat/img/cross.png);
		background-repeat: no-repeat;
                position : absolute;
                right: 14px;
                top : 32px;
            }
			
			.errors {
				color : #E47100;
				display: inline; 
				right: 2px; 
				top:3px;
				font-size: 9pt;
				position: absolute; 
			}
        }


        input[type=text], textarea {
        
            background : transparent;
            border : 0;
            outline : 0;
            color : #666;
            width : 90%;
            resize : none;
	    overflow:hidden;
	    font-size:10pt;			
        }
		
		input[type=text]::-ms-clear {
			display: none;
			width : 0;
			height: 0;
		}

		select{
        
            background : transparent;
            border : 0;
            outline : 0;
            color : #666;
            width : 100%;
            resize : none;
			overflow:hidden;
        }

    }
}


.eg-chat-login{
	.form-fields{
		padding-bottom: 28px;
	}
	
	input[type=submit] {

		text-align : right;
		font-size : 1.4em;
		color : #fff;
		font-weight : bold;
		border-style: solid none none;
		border-color: #39BFC2 -moz-use-text-color -moz-use-text-color;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		padding: 10px 20px;
		.gradientBackground(#02B7CC, #02B7CC);
		border-radius: 0px;
		border-width: 0px;
		border-top-width: 1px;
		border-top-color: transparent;
		&:hover{
				.gradientBackground(#39BFC2, #39BFC2);

			}
	}

}

.eg-chat-survey, .eg-chat-thanks,  .eg-chat-deflection{
	input[type=submit] {

		text-align : right;
		font-size : 1.4em;
		color : #fff;
		font-weight : bold;
		border-style: solid none none;
		border-color: #39BFC2 -moz-use-text-color -moz-use-text-color;
		-moz-border-top-colors: none;
		-moz-border-right-colors: none;
		-moz-border-bottom-colors: none;
		-moz-border-left-colors: none;
		border-image: none;
		padding: 10px 25px;
		.gradientBackground(#02B7CC, #02B7CC);
		border-radius: 0px;
		border-width: 0px;
		border-top-width: 1px;
		border-top-color: transparent;
		&:hover{
				.gradientBackground(#39BFC2, #39BFC2);
	
    }
	}
}
    	
.eg-chat-survey, .eg-chat-deflection{
	.header {
		font-family: "Open Sans"; 
		font-weight: 600;
		font-size: 13px;
		margin-top: 20px;
		margin-bottom: 10px;
		color:#333333;
	}
	
	label{
		margin-left: 0px;
		line-height:10px;
	}
	
	.input-wrap-sub {
		margin-bottom: 11px;
		background: white;
		padding: 5px;
		label {
			font-size: 9pt;
			font-weight: normal;
		}

	
	}
	
	.rating-stars{
		padding: 2px;
	}
	
	.form-fields {
		padding-top: 0px;
	}
}

.eg-chat-wrap {
 
	width : auto !important;
    .box {

        background : #fff;
    }
}
  
.eg-chat-stream {
    
    background : white;
    position :relative;
    
    /*background : url(chat/img/bgnoise_lg.png);*/

    .window-view {

        height : 199px;
        overflow-y : hidden;
        position : relative;

		-webkit-user-select: none;
		-khtml-user-select: none;
		-moz-user-select: none;
		-ms-user-select: none;
		user-select: none;
		
		clear: both;
		.viewport {height: 199px; overflow: hidden; position: relative; }
		.overview { list-style: none; position: absolute; left: 0; top: 0;  width : 100%}
		.thumb .end,
		.thumb { background-color: #003D5D; }
		.scrollbar {
			/*background: transparent url(chat/img/bg-scrollbar-track-y.png)
			no-repeat 0 0; background-position: 0 0;*/
			position: relative;  float: right; width: 15px; 
			-webkit-user-select: none;
			-khtml-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
		.track {/* background: transparent url(chat/img/bg-scrollbar-trackend-y.png) no-repeat 0 100%;*/
			height: 100%; width:13px; position: relative; padding: 0 1px; }
		.thumb { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 100%;
			height: 20px; width: 13px; cursor: pointer; overflow: hidden; position: absolute; top: 0; }
		.thumb .end { 
			background: transparent url(chat/img/bg-scrollbar-thumb-y.png) no-repeat 50% 0;
			overflow: hidden; height: 5px; width: 13px; }
		.disable{ display: none; }
    }

    ul {

        margin : 0;
        position : relative;
        padding : 10px;
    }
    
    .typer-wrap {
        
        width : 100%;
        position : absolute;
        bottom : 0;

        .typer {

            display : none;
            font-size : 11px;
            background : #999;
            opacity : 0.8;
            color : #fff;
            padding : 5px;
        }
    }
    
  
 
	.notification-message {
		
		text-align: center; 
		border-top: 1px solid #B8B8B8;
		padding-bottom: 10px;
		-webkit-user-select: text;
		-khtml-user-select: text;
		-moz-user-select: text;
		-ms-user-select: text;
		user-select: text;
		
		span {
		
			display: inline-block; 
			position: relative; 
			top: -8px; 
			background-color: white; 
			padding: 1px 10px;
			font-family: Arial;
			color: #616161;
			font-weight: 580;
			font-size: 10px;
			word-wrap : break-word;

            &.focused {
                padding: 0px 9px;
                border: 1px dotted #606060;
                outline: none;
            }
			
			a {
				background-position-x: 0px;
				background-position-y: center;
				color: black;
				margin-left: 3px;
				padding-top: 4px;
				text-decoration: none;
				
				&#convertvideo {
					padding-left: 18px;
					background: url('chat/img/accept.png') no-repeat;
					background-position-y: center;
				}
				
				&#rejectvchatinvite {
					padding-left: 18px;			
					background: url('chat/img/decline.png') no-repeat;
					background-position-y: center;
				}
				
				&:hover {
				
					text-decoration: underline;
				}
				
			}
		}
	}

    .notice {

        display : none;
        font-size : 14px;
        color : #333333;
	padding-top : 40px;
	padding-bottom : 10px;
	padding-left : 24px;
	padding-right : 10px;
	border: 2px;
	border-color: #B8B8B8;
	.rounded-corners(8px);
	
	}

    .shadow {

        position : absolute;
        top : 0;
        left : 0;
        height : 2px;
        width : 100%;
        background : #ccc;
        opacity : 0.5;
        z-index : 100;
    }
}
.eg-chat-altEngmt{

      #outer {
        position: relative ;
        width :auto !important;
        display : block;
	
	  #queueStatusTable{
		font-size : 1em;
	 	.queue-status-text{	
		 	width:1%;
			white-space:nowrap;
		}
		&.queueStatusTblAltEng{
			cursor:pointer;
		}
		
	 }
    .queue-status {
        
        display : none;
        font-size : 1.2em;
        color : #FFFFFF;
        left: 5px;
        background-color: #666666;
        text-align : left;
        height:20px;
		padding: 2px 0;
        /*
         *This is the fix to scrollbar appearing during chat.
         *Have to make the "wait time" absolute for the screen to not increase
        */
    }         
   #alt-engmt-panel {
        display :none;
        background-color :#FFFFFF;
        font-size : 1.2em;
       
   }
    #altEngmt{
            width: 100% ;
            table-layout: fixed;
			td{
				height : 30px;
				text-align:center;
				border : 5px;
				margin-top:5px;
              }
           .altEngmt-option-message{
				font-size: 1.0em;
				font-weight:bold;
				line-height:120%;
                color:white;
				text-transform: uppercase;
				font-family: Open Sans;
				margin-top: 0px;
				margin-bottom: 7px;
				}
           .altEngmt-option-image{
				padding:5px; 
				cursor:pointer;
             }
		   .altEngmt-option-message{
				cursor:pointer;
		   }
      }
     #altEngmtMessage{
        margin-bottom:4px;
        text-align:center;
       }
         
   #triangle{   
       margin-top: 5px;
	   width: 0;
       height: 0;
	   width: 0; 
       border-left: 5px solid transparent;
	   border-right: 5px solid transparent;
	   display : block;
       }
   .triangle-down{
	  border-top:5px solid white;
	  }
   .triangle-up{
	  border-bottom: 5px solid white;
	  }
   }
}

.eg-chat-message {
    display : none;
    padding: 4px 1px 1px 1px;
    border: none;
    -webkit-user-select: text;
	-khtml-user-select: text;
	-moz-user-select: text;
	-ms-user-select: text;
	user-select: text;

    &.focused {
        padding: 3px 0px 0px 0px;
        border: 1px dotted #606060;
        outline: 0;
      }
}

.bubble {

	float : left;
	padding : 12px 8px 12px 8px;
	margin-left : 10px;
	width : 75%;
	border-bottom-width : 2px;
	font-family: Open Sans;
	font-weight: 400;
	font-size : 10pt;
	line-height: 1.7em;
	color: black;
	background : #e0f6f9;
	background: -webkit-linear-gradient(#e0f6f9 , #e0f6f9);
	position : relative;
	font-weight : normal;
	.rounded-corners(3px);

	p {

		margin : 0;
		padding : 0;
	}

	.dots {

		text-align: center;
		font-size : 1.3em;
		line-height : 1em;
		font-weight : bold;
		text-shadow : 0 1px 0 #fff;
	}

	.body {
		word-wrap : break-word;
		padding-left: 10px;
		padding-right: 10px;
	}



}

.eg-chat-message, .eg-chat-temporary-message {
    
    margin-bottom : 15px;
    position : relative;
    
    

    
    .author {
          
        float : left;
        background : white no-repeat;
        border : 0px;
        padding : 5px;
        background-image : url(chat/img/agent.png);
        background-position : 5px 5px ;
        width : 26px;
        height : 28px;
        
        &.typing {
					
			background-image : url(chat/img/agent_typing.png);
		}
	}


    .bottom {

		font-size : 10px;
        color : #888;
        padding-top : 2px;
        clear : both;
        margin-left :50px;
    }

    .arrow-wrap {

        position : absolute;
        top : 15px;
        left : -8px;
        width : 0;
        height : 0;

        .arrow { 
            
            position : absolute;
            left : 2px;
            border-right : 6px solid #e0f6f9;
            border-top : 6px solid transparent;
            border-bottom : 6px solid transparent;
            width : 0;
            height : 0;
        }
    }

    .rounded-corners;
	&.agent1 {
        
        .bubble {

            background : #afd4d6 ;
            background: -webkit-linear-gradient(#afd4d6 , #afd4d6 );
            color: black;
            
            .arrow-wrap {

                border-right : 8px solid #afd4d6 ;

                .arrow { 
                    border-right : 6px solid #afd4d6 ;
                    
                }
            }
        }
    }
	
	&.agent2 {
        
        .bubble {

            background : #fbf69b ;
            background: -webkit-linear-gradient(#fbf69b , #fbf69b );
            color: black;
            
            .arrow-wrap {

                border-right : 8px solid #fbf69b ;

                .arrow { 
                    border-right : 6px solid #fbf69b ;
                    
                }
            }
        }
    }
	
	&.agent3 {
        
        .bubble {

            background : #fbf69b ;
            background: -webkit-linear-gradient(#fbf69b , #fbf69b );
            color: black;
            
            .arrow-wrap {

                border-right : 8px solid #fbf69b ;

                .arrow { 
                    border-right : 6px solid #fbf69b ;
                    
                }
            }
        }
    }
	
    &.customer {
        
        .author {
            
            float : right;
            background-image : url(chat/img/customer.png);
            border: 0px;
            width : 26px;
			height : 28px;
			
			&.typing {
			
				background-image : url(chat/img/customer_typing.png);
			}
        }

        .bubble {
	    margin-left : 0px;
            float : right;
            margin-right : 10px;
            background : #bae7f5;
            background: -webkit-linear-gradient(#bae7f5 , #bae7f5);
            
            .arrow-wrap {

                position : absolute;
                top : 15px;
                left : 100%;
                border-left : 8px solid #bae7f5  ;
                border-right : 0;
                border-top : 8px solid transparent;
                border-bottom : 8px solid transparent;
                width : 0;
                height : 0;

                .arrow { 
                    
                    position : absolute;
                    top : -6px;
                    left : -8px;
                    border-top : 6px solid transparent;
                    border-right : 0;
                    border-bottom : 6px solid transparent;
                    width : 0;
                    height : 0;
                }
            }
        }

        .bottom {

            text-align : right;
            margin-right : 50px;
        }
    }
}
.agent ,.agent1, .agent2, .agent3{
	.bubble {

		&.typing {
			background: white;
			color: #848484;
			font-style: italic;
			border-width: 0px;
			padding-left: 0px;
			left: -15px;

			.arrow-wrap {

				.arrow {

					border-width: 0px;
					display: hide;
				}
			}
		}
	}
}
.eg-chat-temporary-message {


    .bubble {

        text-align : center;
        font-size : 1.8em;
        line-height : 1em;
    }
}

.eg-chat-editor {

    /*border-top : 1px solid #ccc;*/

    .cke_skin_kama span.cke_browser_webkit,
    .cke_skin_kama span.cke_browser_gecko18 {

        outline: none !important;
    }
	.cke_wrapper{
		 .rounded-corners(0px);
	}
	.fontDivider{
		background-image: url("chat/img/toolbar/default/CKE_FontDivide.png");
		margin-right: 0px;
		margin-left: 5px;
		width: 5px;
		height:16px;
		float:left;
		position : relative;
		margin-top: 9px;
		margin-bottom: 0px;
	}
	#typing_status{
		padding-left: 31px;
		padding-top: 8px;
		font-size : 12px;
		font-family : Open Sans;
		color: #555555;
		float:right;
		margin-right:33px;
		&.texteditor{
			padding-left : 12px;
		}
	}
.submit-wrapper{

	background-color:lightgray;
	width: 100%;
	height: 35px;
	
		#off-record-button{
			float:left;
			width:103px;
			background-repeat: no-repeat;
			height: 32px;
			margin-left:11px;
			 border-color:#D3D3D3;
			 #off-record-image{
			 height: 25px;
			 width:100px;
			 }
	
		}
		#submit-chat-button{

			.kiwiSubmit;
			    padding: 6px 20px 6px 20px!important;
			    background-repeat: no-repeat;
				width: 71px;
				float: right;
				margin-right: 15px;
				text-align: center;
				color: #FFF;
				font-size: 12px;
	
		}
	}
	.input-wrap {

		position : relative;
		background : #E5E5E5;
		display : block;
		border : 1px solid #ccc;
		font-size : 13px;
		color: #888;
		

		.shadow {

			border-top : 2px solid #eee; 
		}

		.checkmark {

			display : none;
			height : 16px;
			width : 16px;
			background : url(chat/img/accept.png);
			position : absolute;
			right: 5px;
			top : 10px;
		}

		.errormark {

			display : none;
			height : 16px;
			width : 16px;
			background : url(chat/img/cross.png);
			position : absolute;
			right: 5px;
			top : 10px;
		}
	}
	.textareawrap{
		padding: 13px 10px 3px 10px;
		background : lightgray;
		text-align : left;
	}
	input[type=text], textarea {
			padding : 0;
            background : white;
			height: 76px;
			border : 1px;
			border-style: solid;
			border-color : #AAA;
            outline : 0;
            color : #666;
            width : 98%;
            resize : none;
			font-size : 12px;
			.rounded-corners;
    }
	
	 input[type=button] {

            text-align : right;
            font-size : 1.3em;
            color : #fff;
            font-weight : bold;
            border:  0;
            border-top : 1px solid #96CA6D;
        	.kiwiSubmit;
    }
	.question-count-notice{
		padding-bottom : 5px;
		padding-left: 13px;
		font-size : 1em;
		opacity : 0.8;
        	color : #888;
		position : relative;
		float: left;
		top : 5px;
		font-family: Arial;
	}
}

.flash-wrap
{
	height : 220px;
}

.ie-flash-wrap
{
	height : 260px;
}

.ie-eg-chat-video {
    background : #eee;
	height : 260px;
    margin-bottom : 10px;
    position : relative;
    
    img {

        width : 100%;
        height : 100%;
    }

    .flash-controls {
        
        display: none;
        position : absolute;
		height : 22px;
        bottom : 0;
        color : #fff;
        left : 0;
        text-align : center;
        width : 100%;
        background : #666;
        opacity : 0.6;
        padding : 0 0;
		text-decoration : none;
        a {
            
            font-size : 1.5em;
            color : #fff;
            text-decoration : none;

            &:hover {
				color : #000;
            }
        }
		.pause-video{
			background : url('chat/img/toolbar/default/pause.png') no-repeat center;
			&:hover{
				background : url('chat/img/toolbar/hover/pause.png') no-repeat center;
			}
		}
		.resume-video{
			background : url('chat/img/toolbar/default/play.png') no-repeat center;
			&:hover{
				background : url('chat/img/toolbar/hover/play.png') no-repeat center;
			}
		}
    }
}

.eg-chat-video {
    background : #eee;
    height : 220px;
    margin-bottom : 10px;
    position : relative;
    
    img {

        width : 100%;
        height : 100%;
    }

    .flash-controls {
        
        display: none;
        position : absolute;
		height : 22px;
        bottom : 0;
        color : #fff;
        left : 0;
        text-align : center;
        width : 100%;
        background : #666;
        opacity : 0.6;
        padding : 0 0;
		text-decoration : none;
        a {
            
            font-size : 1.5em;
            color : #fff;
            text-decoration : none;

            &:hover {
				color : #000;
            }
        }
		.pause-video{
			background : url('chat/img/toolbar/default/pause.png') no-repeat center;
			&:hover{
				background : url('chat/img/toolbar/hover/pause.png') no-repeat center;
			}
		}
		.resume-video{
			background : url('chat/img/toolbar/default/play.png') no-repeat center;
			&:hover{
				background : url('chat/img/toolbar/hover/play.png') no-repeat center;
			}
		}
    }
}

.eg-chat-utilities {
    
    padding : 0 10px 0 10px;
	background-color: #292929;
    
    .buttons {


        a {
            font-size : 8pt;
            color : white;
            text-decoration : none;
            text-align: center;
            display : block;
            float : left;
			margin-top: 5px;
            margin-bottom: 5px;
            margin-right: 5px;
			margin-left: 5px;
            line-height : 1;
            padding-top: 30px;
            padding-left: 6px;
            padding-right: 0px;
			width : 25px;
            background-position: center 8px, center;
			background-position-x: center;
			background-position-y: 4px;
            background-repeat: no-repeat;
            


		    &.off-record-enabled{
		        margin-right: 6px;
		        margin-left: 6px;
		        }
			&.save {
			
				background-image: url("chat/img/toolbar/default/save.png");
				&:hover {
				
					background-image: url("chat/img/toolbar/hover/save.png");
				}
				
				&.save-left{
					width: auto;
					margin-right:0;
					background-position-x: left;
					background-position-y: center;
					margin-left: 10px;
					padding-left: 30px;
					white-space: nowrap;
					margin-top: 12px;
					padding-top: 5px;
					background-position : center left;
					margin-bottom: 13px;
				}
			}
			&.off-record {
			    display: none;
				background-image: url("chat/img/go-off-record-isolated-webview-btn.png");
				background-position-y : 8px;
				&.off-record-inactive{
					background-image: url("chat/img/go-on-record-isolated-webview-btn.png");
				}
								
			}
			
			&.print-transcript{
				background-image: url("chat/img/toolbar/default/print.png");
				&:hover {

					background-image: url("chat/img/toolbar/hover/print.png");
				}
				
				&.print-left{
					width: auto;
					margin-right:0;
					background-position-x: left;
					background-position-y: center;
					margin-left: -2px;
					padding-left: 30px;
					white-space: nowrap;
					margin-top: 12px;
					padding-top: 5px;
					background-position : center left;
					margin-bottom : 13px;
				}
			}
			
			&.fontSizeBox{
					padding-top: 1px;
					width: 47px;
				
				div{
					position : relative;
					top: 4px;
					height:30px;
					margin-bottom: 0px;
					display : inline;
					float : left;
					background-repeat: no-repeat;
				}
				.increase-font{
					width: 21px;
                    background-image: url("chat/img/toolbar/default/fontbig.png");
					&:hover {
						background-image: url("chat/img/toolbar/hover/fontbig.png");
						cursor: pointer;
					}

				}
				.decrease-font{
					margin-left: 5px;
					width: 16px;
                    background-image: url("chat/img/toolbar/default/fontsmall.png");
					&:hover {
						background-image: url("chat/img/toolbar/hover/fontsmall.png");
						cursor: pointer;
					}
                }

				.fontDivider{
					background-image: url("chat/img/toolbar/default/FontDivide.png");
					margin-right: 0px;
					margin-left: 0px;
					width: 5px;
				}
			}
        }
        
		.video{
			background-image: url("chat/img/toolbar/default/video.png");
			&:hover {
			
				background-image: url("chat/img/toolbar/hover/video.png");
			}
			
			&.active {
						
				background-image: url("chat/img/toolbar/active/video.png");
			}
			&.inactive {
				color: #787878;
				&:hover {
					cursor: default;
				}
			}
		}
		
		.faq{
			background-image: url("chat/img/toolbar/default/faq.png");
			&:hover {
			
				background-image: url("chat/img/toolbar/hover/faq.png");
			}
		}
		
		.audio{
			background-image: url("chat/img/toolbar/default/mic.png");
			&.hover {

				background-image: url("chat/img/toolbar/hover/mic.png");
			}
			
			&.active {
			
				background-image: url("chat/img/toolbar/active/mic.png");
			}
			&.inactive {
				color: #787878;
				&:hover {
					cursor: default;
				}
			}
		}
		
		.endCall{
			&.active {
			
				background-image: url("chat/img/toolbar/active/end_call.png");
			}
			&.inactive {
				display : none;
			}
		}
		
		
		.divider {
			background-image: url("chat/img/toolbar/divider.png");	
			
			&.divider-toolbar {
            	background-position-x: center;
            	margin-left: 0px;
            	padding-left: 16px;
				padding-right: 16px;
            	white-space: nowrap;
            	height: 30px;
            	margin-top: 8px;
				margin-bottom: 0px;
            	padding-top: 5px;
				margin-right: 0px;
				margin-left: 0;
				width: 0px;
			}
		}
		.click-to-call{

			background-image: url("chat/img/toolbar/default/video.png");
			&:hover {

				background-image: url("chat/img/toolbar/hover/video.png");
			}
		}
    }
}

.noutilitiesbar{
	
		.eg-chat-utilities{
			display : none;
		}
		
		.eg-chat-stream{
			border-radius : 7px 7px 0 0;
			.shadow{
				display : none;
			}
		}
	
}

.Nofloating-submit-section{
	
		.submit-section{
			width :auto;
			position :static;
				    
		}
		
		.box{
			.rounded-corners(7px);
		}
	
}
.freefloating-submit-section{
	
		.submit-section{
			width :auto;
			position :static;
		}
		
		.box{
			.rounded-corners(7px);
		}
	
}
/***

    CKEditor Style Hack

***/

.cke_skin_kama {


    padding : 0px !important;
    border : 0 !important;

    .rounded-corners(0px);
	
	.cke_editor{
		table-layout:fixed;
	}
    
}

.clear {

    clear : both;
}

.cke_editor tbody .presentation {
	//border-radius: 7px;
}

.cke_bottom {
	display: block;
	position: relative;
	font-size : 10px;
}

span.cke_top{
	padding:0px;
}

span.cke_toolgroup { 
	margin: 4px 0 4px 10px;
	padding:2px 0px;
	
}

span.cke_chrome {
	padding: 0px;
	border-radius : 0px;
}

span.cke_inner{
	border-radius : 0px;
	padding-bottom:0px;
}

span.cke_toolgroup{
	 background: linear-gradient(to bottom,#f9f8f8,#f9f8f8 100px);
	 background-position-y: 0px;
}

span.cke_button__smiley_icon{
	background-image: url(chat/img/icons.png) !important;
}

div.cke_chrome {
	padding: 0px !important;
	border-radius : 0px !important;
}

div.cke_inner, span.cke_inner{
	border-radius : 0px !important;
	padding:0px !important;
	background: #f9f8f8;
}

.eg-chat-deflection{
    .title-bar{
        .rounded-corners;
        border-radius : 0px 0px 0px 0px;
        -webkit-border-radius : 5px 5px 0px 0px;
        -moz-border-radius: 5px 5px 0px 0px;
        padding-top: 15px;
		padding-bottom: 15px;
		padding-right: 15px;
		padding-left: 23px;
		background-color: #292929;
        color:white;
        font-size: 16px;
        .query{
            color : #222;
        }
        
    }
	#ansMsgDiv{
		line-height: 1.5;
		color: #666666;
	}
	#defHeaderDiv{
		border-bottom: 0px none;
		margin : 15px 15px 0px 15px;
	}
	#articleNameDiv{
		border-top: 2px solid #E5E5E5;
		margin : 10px 0px 0px 0px;
	}
	#articleNameTag{
		margin: 10px 0px 0px 0px;
		font-size:10pt;
	}
	#articleContentDiv{
		margin: -8px 0px 0px 0px;
		height: 199px;
	}
	#articleListDiv{
		height: 199px;
	}
	
	#deflectionTrack{
		border: 1px solid #EBEBEB;
		border-left-width: 0px;
		border-right-width:0px;
		background : #EBEBEB;
		padding: 0px;   
		border-radius: 20px; 
	}
    .article-row{
        border-bottom: 1px solid #ccc;
        padding: 12px 15px 10px 5px;
		line-height: 1.3;
    }
	
	.back-deflection-button{
		width: 18px;
		height:18px;
		padding-left: 7px;
		padding-top: 1px;
		font-weight: bold;
		font-size: 10pt;
		color: #191919;
		cursor: pointer;
		border: 0px solid #999999;
		border-radius: 0px;
		text-decoration: none;
	}
	.back-deflection-button:hover {
		color: ##1ABC9C;
		border: 0px solid #A3A3A3;
	}
	
	.back-deflection-button:focus {
		color: ##1ABC9C;
		border: 0px solid #A3A3A3;
		outline: 0;
	}

	.egce-float-right {
    	float: right;

    	.share-deflection-button {

    	.egce-font-super-small-share {
				
  				color: #191919;
  				cursor: pointer;
			}
		.egce-font-super-small-share:before{
  
   				content: url(chat/img/icon_share.png);
   				height: 20px;
    			width: 20px;
    			background-repeat: no-repeat;
   
    			margin-top: 2px;
			}

		.egce-font-super-small-share:hover {

 				 color:#1ABC9C;
			}	
    	} //.share-deflection-button

    	.print-deflection-button {

    	.egce-font-super-small-print {
							
    			color: #191919;
    			cursor: pointer;
		}
		.egce-font-super-small-print:before {
   
  				 content: url(chat/img/icon_print.png);
 				 height: 20px;
   				 width: 20px;
    			background-repeat: no-repeat;
   				 margin-top: 2px;
		}
		.egce-font-super-small-print:hover {
  				color:#1ABC9C;
			}
			
    	}   //print-deflection-button
	}   //egce-float-right
	
	
	.back-button-img{
		height: 16px;
        width: 11px;
        float: left;
        background-image : url(chat/img/icon_back.png);
		background-repeat: no-repeat;
		margin-top: 1px;
	}
	
    .article-icon{
        height: 25px;
        width: 25px;
        float: left;
        background-image : url(chat/img/article-icon.png);
		background-repeat: no-repeat;
    }
    .article-view-click{
        cursor : pointer;
        margin : 5px 0px 0px 30px;
    }
	.article-view-click:focus {
			label{
				color: #39BFC2;
			}
			outline: underline;
	}
	.article-view-click:hover {
			label{
				color: #39BFC2;
			}
	}
    .deflection-option{
        margin-left : 22px;	
		margin-right : 28px;
		border-top : 2px solid #E5E5E5;
        padding-top:10px;
		padding-bottom:10px;
		overflow:hidden;
        .deflection-option-wrap{
            padding-top:10px;
        }
        .question{
            color : #000;
			cursor: default;
        }
        #startChat{
            text-align : right;
            font-size : 1.3em;
            color : #fff;
            font-weight : bold;
            border-radius: 0px;
            border : 0px solid #000;
			border-bottom-width :1px;
			border-bottom-color: transparent;
            padding : 10px 27px 10px 28px;
			.gradientBackground(#C7C7C7, #C7C7C7);
			margin-top 	: 2px;
			margin-left: 0px;
			margin-right : 0px;

                &:hover {
						.gradientBackground(#C7C7C7, #C7C7C7);
                }

                &:active {

                        .gradientBackground(#C7C7C7, #C7C7C7);
                }
        }
		#closeHelp{
            text-align : right;
            font-size : 1.3em;
            color : #fff;
            font-weight : bold;
            border-radius: 0px;
            border : 0px solid #000;
			border-bottom-width :1px;
			border-bottom-color: transparent;
            padding : 10px 10px 10px 10px;
			margin-right: 10px;			
            
        }
    }
    
    
}