<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=EDGE" />
		<link rel="stylesheet" type="text/css" href="chat/css/reset.css">
		<link rel="stylesheet" type="text/css" href="libs/css/tipsy.css">		
		<link rel="stylesheet/less" type="text/css" href="chat/less/chat-main.less">
		<link rel="stylesheet/less" type="text/css" href="chat/less/chat-mobile.less">
		<link rel="stylesheet" type="text/css" href="chat/css/multiselect.css" />
		<link rel="stylesheet" type="text/css" href="chat/css/jquery-ui-1.9.2.edited.min.css" />
		<link href='//fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
		<script src="../../../web/common/less-1.1.5.min.js"></script>
		<script type="text/javascript" src="../../../web/common/strophejs-1.0.1/strophe.js"></script>
		<script type="text/javascript" src="../../../web/common/live-10.0.0/eGainStrophe.js"></script>
		<script type="text/javascript" src="eGainLiveConfig.js"></script>
		<script type="text/javascript" src="../../../web/integration/templates/chat/sunburst/eGainLiveChatInteg.js"></script>
		<script type="text/javascript" src="eGainLiveHooks.js"></script>
		<script type="text/javascript" src="../../../web/common/dateformat-1.2.3/dateformat.js"></script>

		<!-- Libs -->
		<script src="../../../web/common/jquery-1.7/jquery.min.js"></script>
		<script src="../../../web/common/jquery-1.7/jquery.raty.min.js"></script>
		<script src="../../../web/common/jquery-1.7/jquery.tipsy.js"></script>
		<script src="../../../web/common/jquery-ui.js"></script>
		<script src="../../../web/common/underscore-min.js"></script>
		<script src="../../../web/common/md5.js"></script>
		<script src="../../../web/common/backbone-min.js"></script>
		<script src="../../../web/common/jquery.tinyscrollbar.min.js"></script>
		<script src="../../../web/common/iscroll.js"></script>
		<script type="text/javascript" src="chat/js/multiselect.js"></script>
		<script type="text/javascript" src="../../../web/common/live-11.0.0/handlebars.js"></script>
		<script type="text/javascript" src="../../../web/common/ckeditor_4.5.3/ckeditor.js"></script>
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
		<meta name="apple-mobile-web-app-capable" content="yes" />
		<meta name="MobileOptimized" content="0" />
        
	</head>
<body>

	<div id="eg-chat-global-wrap">
		<div id="eg-chat-header">
			<div class="wrap">
				<div class="heading">
					<div class="chatbubble">
						<img src="chat/img/logo_new.png"/>
					</div>
					<a class="closechat" href="#"></a>
				</div>

				<div class="clear"></div>
			</div>
		</div>
		<div id = "eg-chat-global-wrap2" class="egce-modal-overlay" style = "display:none; margin-top: 0px; margin-left : 0px">
			<div class="egce-modal-overlay-background"></div>
			<div class="egce-modal-overlay-middle">	
			<div class="egce-modal-wrap">		
					<div  id = "eg-chat-global-wrap1" class="egce-modal-content">
					</div>				
			</div>
		</div>
		</div>		

		<div id="eg-chat-sidebar"><div class="sideFrameDiv"></div></div>
		<div id="eg-chat-content"></div>
	</div>
	<script>

        if(typeof console == "undefined") {

            console = {'log':function(){}};
        }
		
    </script>
 <!--- Templates -->
	<script type="text/template" id="tpl-stream">
        <div class="shadow"></div>

        <div class="header"></div>

        <div tabindex="0" class="window-view" id="wrapper">
			<% if(!App.utils.isVisitorMobile()) { %>
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<% } %>
			<div class="viewport" id="scroller">
				<div class="overview">
					<ul id="chatbubbles" role="presentation"></ul>
				</div>
			</div>
        </div>
        <div class="notice"></div>

    </script>
    <script type="text/template" id="tpl-altEngmt">
    <%
        var altEngmtOptions = eGainLiveConfig.altEngagementOptions.altEngmtParams;
	    var clockImageSrc =	eGainLiveConfig.altEngagementOptions.clockImageSrc;
	    var altEngagementMessage = eGainLiveConfig.altEngagementOptions.altEngmtMessage;
    %>
	<div id="outer">
		<div class="queue-status">
		<table id="queueStatusTable" width="100%">
			<tr>
			<td align="right"><img src='<%=clockImageSrc%>'>&nbsp;&nbsp;</td>
			<td class="queue-status-text" aria-live="polite" align="center" ></td><td>&nbsp;&nbsp;</td>
			<td text-align="left" td="15%"><div id="triangle"></div></td>
			</tr>
		</table>
		</div>
		<div id ="alt-engmt-panel">

        <!-- The attributes tabindex, role and aria-label are added for the screen reader -->
		<div id="altEngmtMessage" tabindex="0" role="application" aria-label="<%=window[altEngagementMessage].replace('<br>', ' ')%>"><%=window[altEngagementMessage]%></div>
			<table id="altEngmt">
				<tr class="altEngmt-row">

       <%

		for(var i=0;i<altEngmtOptions.length;i++)
		{
				 var  altEngmtOption = altEngmtOptions[i];
				 var  altEngmtText=altEngmtOption.text;
				 var  altEngmtImage=altEngmtOption.image;
				 var  altEngmtHoverImage=altEngmtOption.hoverImage;
				 var  altEngmtUrl=altEngmtOption.url;
				 var bgcolor = altEngmtOption.bgcolor;
					console.log(bgcolor)
		%>
	      		<!-- keypress event added for accessiblity to fire onclick using ENTER when the element is in focus -->
                <td onclick="App.utils.submitUrl('<%=altEngmtUrl%>');" onkeypress="if(event.keyCode == 13) App.utils.submitUrl('<%=altEngmtUrl%>');" bgcolor="<%=bgcolor%>" >
					<div class="altEngmt-option-image" >
						<img src="<%=altEngmtImage%>">
					</div>
					<!-- The attributes tabindex, role and aria-label are added for the screen reader -->
                    <div class="altEngmt-option-message" tabindex="0" role="application" aria-label="<%=window[altEngmtText].replace('<br>', ' ')%>"><%=window[altEngmtText]%>
				    </div>
				</td>
             <%if(i<altEngmtOptions.length-1) {%>
			  <td style="width: 2px"></td>	   <%}%>
  		 <% }%>

			</tr>
			</table>
		</div>


     </div>
	 </script>

	<script type="text/template" id="tpl-video">
		<div id="flash-wrap-id">
        </div>
        <div class="flash-controls">
            <a class="pause-video" href="#" title='<%= L10N_PAUSE_VIDEO %>'> &nbsp;&nbsp;&nbsp;</a>
            <a class="resume-video" href="#" title='<%= L10N_RESUME_VIDEO %>'> &nbsp;&nbsp;&nbsp;</a>
        </div>
    </script>
	<script type="text/template" id="tpl-editor">
        <form>
			<div>
				<textarea id="editor" name="editor"></textarea>
			</div>
			
			<% if(App.utils.isVisitorMobile() && App.isOffRecordEnabled) { %>
				<div class="submit-wrapper">
					<button id="off-record-button">
						<img id="off-record-image" src="chat/img/go-off-record-isolated-btn.png">
					</button>	
					<input type="button" value="<%= L10N_SEND  %>" id="submit-chat-button" />
				</div>
			<% } %>
            <div class="submit-section">
				<div class="footer">
					<span class='powered_by'><%= L10N_POWERED_BY %></span> <span class='brand'><%= L10N_BRAND %></span>
				</div>
				<% if(!(App.utils.isVisitorMobile() && App.isOffRecordEnabled)) { %>
					<div class="submit-wrap">
						<input type="button" value="<%= L10N_SUBMIT %>" id="submit" />
					</div>
				<% } %>
			</div>
        </form>
    </script>

	<script type="text/template" id="tpl-utilities">
        <div class="buttons" id="toolbar">
			<% if(showVideo) { %>
			<a class="video" id="videoBt" href="#" title="<%= L10N_VIDEO_CHAT %>"></a>
			<% } %>

			<% if(showAudio) { %>
			<a class="audio inactive" tabindex="-1" id="audioBt" href="#"></a>
			<% } %>

			<% if(showVideo || showAudio) { %>
			<a class="endCall inactive" tabindex="-1" id="endCallBt" href="#"></a>
			<% } %>

			<% if(showFaq) { %>
                <a href="#" class="faq js-faq" title="<%= L10N_KNOWLEDGE_BASE_BUTTON %>"></a>
            <% } %>

            <% if(showChangeFont) { %>
			<a tabindex=-1 class="fontSizeBox">
				<div href="#" tabindex=0 class="increase-font" fontSeq="0" title="<%=L10N_INCREASE_FONT_SIZE%>" width="100%" height="100%">
                    <span title="<%=L10N_INCREASE_FONT_SIZE%>"></span>
                </div>
            	<div class="fontDivider"></div>
				<div href="#" tabindex=0 class="decrease-font" fontSeq="0" title="<%=L10N_DECREASE_FONT_SIZE%>" width="50%" height="50%">
                    <span title="<%=L10N_DECREASE_FONT_SIZE%>"></span>
                </div>
			</a>
            <% } %>

			<% if(showOffRecord) { %>
			    <a href="#" class="off-record"></a>
            <% } %>

			<% if(showSaveTranscript) { %>
			     <a href="#" class="save js-save" title="<%= L10N_SAVE_TRANSCRIPT_BUTTON %>"></a>
            <% } %>

            <% if(showDivider) { %>
            	<a class="divider"/>
            <% } %>

            <% if(showPrintTranscript) { %>
            <a href="#"
                class="print-transcript js-print" title="<%= L10N_PRINT_TRANSCRIPT_BUTTON%>"></a>
            <% } %>
            <div class="clear"></div>
        </div>
			<div class="close"></div>
    </script>

	<script type="text/template" id="tpl-wrap">
        <div class="video"></div>
        <div class="box"></div>
    </script>

	<script type="text/template" id="tpl-message">
        <div class="author"></div>

        <div class="bubble">
            <div class="arrow-wrap"><div class="arrow"></div></div>
            <div class="body">

				<% if(temporary) { %>

                    <%= typing_message.replace('{0}',author) %>

                <% } else { %>

                <%= message.get('body') %>

                <% }  %>
            </div>
        </div>

        <div class="bottom">
            <% if(temporary) { %>

                <!--<%= typing_message.replace('{0}',author) %>-->

            <% } else {%>

              <b><%= message.get('author') %></b>

                    <span aria-hidden="true">&bull;</span> <%= message.get('time') %>
            <% } %>
        </div>
    </script>

	<script type="text/template" id="tpl-survey">
		<div class="box"></div>
       <div tabindex="0" class="header" aria-label="<%= L10N_SURVEY_INTRO%>">
             <label><%= L10N_SURVEY_INTRO%></label>
        </div>
        <form>
            <div tabindex="0" class="form-fields" id ="wrapper" >
				<% if(!App.utils.isVisitorMobile()) { %>
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<% } %>
				<div class="viewport" id="scroller">
			<div class="overview">
				<div onkeydown="ratekey(event, 'answerability')" tabindex="0" role="application" class="input-wrap-sub-survey" aria-label="<%= L10N_SURVEY_Q1 %> <%=L10N_SURVEY_RATE_SCALE%>">
				    <label><%= L10N_SURVEY_Q1 %></label>
					<div id="answerability" class="rating-stars"></div>
				</div>
				<div onkeydown="ratekey(event, 'promptness')"  tabindex="0" role="application" class="input-wrap-sub-survey" aria-label="<%= L10N_SURVEY_Q2 %> <%=L10N_SURVEY_RATE_SCALE%>">
					<label><%= L10N_SURVEY_Q2 %></label>
					<div id="promptness" class="rating-stars"></div>
				</div>
				<div onkeydown="ratekey(event, 'would-suggest')"  tabindex="0" role="application" class="input-wrap-sub-surveylast" aria-label="<%= L10N_SURVEY_Q3 %> <%=L10N_SURVEY_RATE_SCALE%>">
					<label><%= L10N_SURVEY_Q3 %></label>
					<div id="would-suggest" class="rating-stars"></div>
				</div>
				<div class="input-wrap-sub-surveytextarea" data-input-name="question">
					<textarea
					name="question" rows="3" class="question" id="surveyText" aria-label="<%= L10N_SURVEY_ADDITIONAL %>"><%= L10N_SURVEY_ADDITIONAL %></textarea>
				</div>
			</div>
				</div>
			</div>
            <div class="submit-section">
				<div class="footer">
					<span class='powered_by'><%= L10N_POWERED_BY %></span> <span class='brand'><%= L10N_BRAND %></span>
				</div>
				<div class="submit-wrap">
					<input type="submit" value="<%= L10N_SUBMIT %>"/>
					<div class="clear"></div>
				</div>
			</div>
        </form>
    </script>

	<script type="text/template" id="tpl-thanks">
		<div class="box"></div>
		<div tabindex="0" class="thanksBox" id="wrapper">
			<% if(!App.utils.isVisitorMobile()) { %>
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<% } %><div class="viewport" id="scroller">
				<div class="overview">
       				<div class="thanks"></div>
       				<div class="thanks-text"><span><%= (eGainLiveConfig.turnOffChatSurveyPage) ? L10N_THANKS_WITHOUT_SURVEY : L10N_THANKS %></span></div>
				</div>
			</div>
		</div>
        <form>
            <div class="submit-section">
				<div class="footer">
					<span class='powered_by'><%= L10N_POWERED_BY %></span> <span class='brand'><%= L10N_BRAND %></span>
				</div>
                <% if(!App.utils.isVisitorMobileSDKApp()) { %>
				<div class="submit-wrap">
					<input type="submit" value="<%= L10N_CLOSE_WIN %>"/>
					<div class="clear"></div>
				</div>
                <% } %>
			</div>
        </form>
    </script>

	<script type="text/template" id="tpl-login">
	
        <form>
			<div tabindex="0" class="form-fields" id="wrapper">
				
			<% if(!App.utils.isVisitorMobile()) { %>
				<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
			<% } %>
				<div class="viewport" id="scroller">
					<div class="overview">
            <% for(var i = 0; i < param.length; i++) { %>
                <div class="input-wrap" data-input-name="<%= param[i].attributeName %>">

					<label><%= window[param[i].paramName] %></label>
					<div class="errors" error-input-name="<%= param[i].attributeName %>"></div>

					<div class="input-wrap-sub">
						<% if(param[i].fieldType == '1') { %>

							<input name="<%= param[i].attributeName %>"
									type="text"
									value=""/>


						<% } else if(param[i].fieldType == '2') { %>

							<textarea name="<%= param[i].attributeName %>" rows="4"
										class="question" aria-label="<%= window[param[i].paramName] %>"></textarea>

						<% } else if(param[i].fieldType == '3') { %>

							<select name="<%= param[i].attributeName %>" id=<%= param[i].attributeName %> class="single" length=3>
							</select>

						<% } else if(param[i].fieldType == '4') { %>

							<select name="<%= param[i].attributeName %>" id=<%= param[i].attributeName %> class="multi" multiple="multiple" size=3>

							</select>
						<% } %>
						<div class="checkmark"></div>
						<div class="errormark"></div>
					</div>
            	</div>

            <% } %>
					</div>
				</div>
			</div>
            <div class="submit-section">
				<div class="footer">
					<span class='powered_by'><%= L10N_POWERED_BY %></span> <span class='brand'><%= L10N_BRAND %></span>
				</div>
				<div class="submit-wrap">
					<input type="submit" value="<%= L10N_START_CHAT_BUTTON %>"/>
					<div class="clear"></div>
				</div>
			</div>
            <div class="clear"></div>
        </form>
    </script>

     <!--Template for chat deflection-->
    <script type="text/template" id="tpl-deflection">
        <div tabindex="0" class="title-bar">
            <%=L10N_DEFLECTION_HEADER%>
        </div>

        <div tabindex="0" id="ansMsgDiv" class="header">
            <%= L10N_DEFLECTION_INTRO%>
        </div>

        <div id="defHeaderDiv" class="article-content">
            
			<a tabindex="0" id="backButton" href="#" class="back-deflection-button">
                <i class="back-button-img"></i><%=L10N_BACK%>
			</a>
			<div class="egce-float-right">
            <span tabindex="0" id = "shareButton" class="share-deflection-button">
			       <i class="share-button-img"></i><span class="egce-font-super-small-share">&nbsp;&nbsp;Share</span>
			</span>
			&nbsp;
            &nbsp;
            <span tabindex="0" id="printButton" class="print-deflection-button">
			       <i class="print-button-img"></i><span class="egce-font-super-small-print">&nbsp;&nbsp;Print</span>
			</span>      
            </div>
			<div tabindex="0" id="articleNameDiv">
				<h3 id="articleNameTag"><%=article.name%></h3>
			</div>
            

        </div>

	<div class="form-fields" id="wrapper">        
		
		<div class="scrollbar"><div id="deflectionTrack" class="track"><div class="thumb"><div class="end"></div></div></div></div>		
        <div class="viewport" id="scroller">
                    <div class="overview">
                        <div id="articleListDiv" class="article-list">
                                <% for(var i = 0; i < deflectionArticles.length; i++){%>
                                    <li class="article-row">
                                        <i class="article-icon"></i>
                                        <div tabindex="0" class="article-view-click" id="articleLink" href="#" data-article-id="<%=deflectionArticles[i].id%>">
                                            <label><%=deflectionArticles[i].name%></label>
                                            <div><%=deflectionArticles[i].description%></div>
                                        </div>
                                    </li>
                                <%}%>
                        </div>
                        <div tabindex="0" id="articleContentDiv" class="article-content">
                            <p><%=article.content%></p>
                        </div>
                    </div>
            </div>
		</div>            
        <div id="defOptionDiv" class="deflection-option">
			   <div tabindex="0">
					<label class="question"><%=L10N_QUESTION%></label>
			   </div>

               <div class="deflection-option-wrap">
                   <input id="closeHelp" type="submit" value="<%=L10N_CLOSE_HELP%>" title="<%=L10N_CLOSE_HELP%>"/>
                   <input id="startChat" type="button" value="<%=L10N_START_CHAT_ESCALATION%>" title="<%=L10N_START_CHAT_ESCALATION%>"/>
                   <div class="clear">
                   </div>
               </div>

        </div>
        <div class="submit-section">

            <div class="footer">
                    <span class='powered_by'><%= L10N_POWERED_BY %></span> <span class='brand'><%= L10N_BRAND %></span>
            </div>

        </div>

    </script>

	<script type="text/template" id="tpl-callback">
		<div class="box"></div>
        <div class="header">
            <div class="callback-message"><%=L10N_CALLBACK_MESSAGE%></div>
        </div>




		<div class="form-fields" id ="wrapper">
					<% if(!App.utils.isVisitorMobile()) { %>
					<div class="scrollbar"><div class="track"><div class="thumb"><div class="end"></div></div></div></div>
				<% } %>
				<div class="viewport" id="scroller">
					<div class="overview">
					<%
		var callBackOptions=eGainLiveConfig.callBackParams;
		for(var i=0;i<callBackOptions.length;i++)
		{
				 var  callBackOption = callBackOptions[i];
				 var  callBackText=eval(callBackOption.text);
				 var  callBackImage=callBackOption.image;
				 var  callBackHoverImage=callBackOption.hoverImage;
				 var  callBackUrl="";

				 if("url" in callBackOption)
		        	 callBackUrl=callBackOption.url;


	     %>


				<div class="callback-options" id="callback-options_<%=i%>" onclick="App.utils.submitUrl('<%=callBackUrl%>' )" onmouseover="(new App.CallBackView).changeOnHover(<%=i%>,'<%=callBackHoverImage%>','#ffffff')"  onmouseout="(new App.CallBackView).changeOnHover(<%=i%>,'<%=callBackImage%>','#000000')">
					  <table class="callback-options-table">
						 <tr>
							<td class="callback-option-image"><img src="<%=callBackImage%>" id="CALLBACK_IMG_<%=i%>"></td>
							<td class="callback-option-message" id="CALLBACK_MSG_<%=i%>"><%=callBackText%></td>
						 </tr>

					  </table>

			   </div>

	  <%}%>

					</div>
				</div>
		</div>
		<div class="submit-section">
			<div class="footer">
				<span class='powered_by'><%= L10N_POWERED_BY %></span> <span class='brand'><%= L10N_BRAND %></span>
			</div>
		</div>

    </script>

	<script type="text/template" id="tpl-main">

	<div id = "eg-chat-email-friend-wrap" component-name="standard.chat.form.email_friend">
    <div class="egce-box-wrap egce-highlighted">

        <div class="egce-box-header">
            <h1 class="egce-box-heading"><%=L10N_ARTICLE_EMAIL_FRIEND %></h1>
            <div class="egce-clearfix"></div>
        </div>

        <div class="selfservice-box-content egce-rounded5-bottom" style="background:#fff;">
        <form class="selfservice-form egce-p10-left egce-p20-left egce-p20-right" >
       

        <div class="fieldgroup egce-details-form-group">
                    <label class="egce-details-form-group-label"><%=L10N_YOUR_NAME%><span class="egce-color-highlighted">*</span></label>
                    <div class="egce-input-text egce-rounded5">
                    <input requiredfield="true" 
                           class="egce-input-text"
                           name="sender_name" 
                           value=""
                           data-placeholder="<%=L10N_YOUR_NAME %>"
                           />
                            </div>
                           <div class="errortab"><%= L10N_EMPTY_WARNING %></div>
                     </div>


                    <div class="fieldgroup egce-details-form-group">
                    <label class="egce-details-form-group-label"><%= L10N_YOUR_EMAIL %><span class="egce-color-highlighted"><span class="egce-color-highlighted">*</span></span></label>
                    <div class="egce-input-text egce-rounded5">
                    <input requiredfield="true" 
                           class="egce-input-text"
                           name="sender_email" 
                           value=""
                           data-placeholder="<%= L10N_YOUR_EMAIL %>"
                           />
                            </div>
                           <div class="errortab"><%= L10N_EMPTY_WARNING %></div>
                     </div>


                    <div class="fieldgroup egce-details-form-group">
                    <label class="egce-details-form-group-label"><%= L10N_YOUR_FRIEND_NAME %><span class="egce-color-highlighted"><span class="egce-color-highlighted">*</span></span></label>
                    <div class="egce-input-text egce-rounded5">
                    <input requiredfield="true" 
                           class="egce-input-text"
                           name="receiver_name" 
                           value=""
                           data-placeholder="<%= L10N_YOUR_FRIEND_NAME %>"
                           />
                            </div>
                           <div class="errortab"><%= L10N_EMPTY_WARNING %></div>
                     </div>

                    <div class="fieldgroup egce-details-form-group">
                    <label class="egce-details-form-group-label"><%= L10N_YOUR_FRIEND_EMAIL %><span class="egce-color-highlighted">*</span></label>
                    <div class="egce-input-text egce-rounded5">
                    <input requiredfield="true" 
                           class="egce-input-text"
                           name="receiver_email" 
                           value=""
                           data-placeholder="<%= L10N_YOUR_FRIEND_EMAIL %>"
                           />
                            </div>
                           <div class="errortab"><%= L10N_EMPTY_WARNING %></div>
                     </div>
                <div class="fieldgroup egce-details-form-group">
                <label class="egce-details-form-group-label"><%= L10N_COMMENTS %>
                    <textarea class="egce-input-text egce-textarea" style="width:98%; height:65px; margin-top:5px; padding-top:9px;"></textarea>
                </label>
                </div>
                   
                    <input type="submit" 
                    class="egce-button egce-primary egce-m20-top" value="<%= L10N_SEND %>" />      
            </form>
        </div>
    </div>
    <div class="egce-modal-close-button">x</div>
    </div>
</script>

<script type="text/template" id="tpl-success" device="normal">
    <span class="egce-font-medium"><%= L10N_SUCCESSFULLY_SENT_MAIL %></span>
    <div class="egce-modal-close-button">x</div>
</script>


	<form name="saveAsForm" action="../../../web/view/live/utilities/saveas.jsp" accept-charset="UTF-8" method="POST" target="saveastarget">
		<input type="hidden" name="content"/>
		<input type="hidden" name="sysdate"/>
	</form>

	<form name="formAttachment"  method="POST" target="attachmenttarget">
		<input type="hidden" name="sid"/>
		<input type="hidden" name="setCacheHeaders"/>
	</form>
	<!--[if IE]>
	<bgsound id="iesound" src='' hidden='true' autostart='false' type='audio/wav' loop='false' style=""/>
	<![endif]-->
	<div aria-hidden="false" aria-live="assertive" aria-relevant="text additions" id="g_Notification" role="alert" style="height: 1px; color:#ffffff; font-size: 0pt; opacity:0; filter:Alpha(opacity=0);"></div>
	<audio id="html5sound"></audio>

	<!-- Chat Scripts -->
	<script src="chat/js/core.js"></script>
	<script src="chat/js/video.js"></script>
	<script src="chat/js/header.js"></script>
	<script src="chat/js/connection.js"></script>
	<script src="chat/js/session.js"></script>

	<script src="chat/js/messenger.js"></script>
	<script src="chat/js/login.js"></script>
	<script src="chat/js/transcript.js"></script>
	<script src="chat/js/chat.js"></script>
	<script src="chat/js/editor.js"></script>
	<script src="chat/js/audio.js"></script>
	<script src="chat/js/survey.js"></script>
	<script src="chat/js/thanks.js"></script>
	<script src="chat/js/validator.js"></script>
	<script src="chat/js/utils.js"></script>
	<script src="chat/js/callback.js"></script>
   	<script src="cobrowse/js/cobrowse.js"></script>
   	<script src="chat/js/altEngmt.js"></script>
   	<script src="chat/js/deflection.js"></script>
   	<script src="chat/js/form-email_friend.js"></script>
		<!-- Custom -->
		<script type="text/javascript" src="urlparams.js"></script>
</body>
</html>
